

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
.grandParent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

  }
  
  .container {
    flex-grow: 1;
    margin-top: 20px;
  }
  
  .gridContainer {
    display: flex;
  }
  
  .gridItem {
    display: flex;
    flex-direction: column;
  }
  
  .paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .formControl {
    margin-top: 10px;
  }
  
  .piechart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .h5{
    text-align: center;
  }

  .Typography{
    background-color: lightgreen;

  }




