/* *{
    background-color:#ff8600;
} */
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#9dd1f1;
  }
  
  .login-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  .nav-item{
    margin-right: 20px;
  }
  .navlink{
    text-decoration: none;
    margin-right: 20px;
    color: white;
  }
  .button{
    color: black;
    background-color: rgb(42, 200, 34);
    border-radius: 20px;
    border: none;
  }
 